@import "tailwindcss";

@theme {
  --default-font-family: "Lato", sans-serif;

  --text-xxs: 0.625rem;

  --color-lime-200: rgba(80, 139, 38, 0.2);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}